<!DOCTYPE html>
<html>

<head>
    <title>
        Tarea 3
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
    <h1>
        Eligio el Heroe:
    </h1>
    
    <%= data %>


</body>

</html>