<!DOCTYPE html>
<html>

<head>
    <title>
        Tarea 3
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Tarea 3
    </h1>
    <p>
        <%= home %>
    </p>
    <br><a href='/heroes'> >Heroes </a>
    <br><a href='/heroes/2/bio'> >Detalle heroe/2/bio</a>
    <br><a href='/heroes/2'> >Detalle Heroe 2</a>
    <br><a href='/heroes/5'> >Detalle Heroe 5</a>
    <br><a href='/heroes/2/bio'> >Detalle Heroe 2 bio</a>
    <br><a href='/heroes/5/bio'> >Detalle Heroe 2 bio</a>
    <br><a href='/heroes/2/bio/ok'> >Detalle Heroe 2 bio ok</a>
    <br><a href='/heroes/5/bio/ok'> >Detalle Heroe 5 bio ok</a>

</body>

</html>